<div class="container">
  <ol class="breadcrumb">
    <li><a href="<%= seller_dashboard_path(@seller.slug) %>">Admin Dashboard</a></li>
    <li class="active">All Products</li>
    <li><a href="<%= new_seller_product_path(@seller.slug) %>">Add New Product</a></li>
  </ol>
</div>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-md-3"><br>
      <div class="ui rail">
        <div class="ui sticky">
          <div class="list-group">
            <%= link_to "View All", {controller: 'products', action: 'index'},
                        class: 'list-group-item'  %>
            <% @categories.each do |category| %>
                <%= link_to category.name,
                            {controller: 'products', action: 'index', :category_id => category.id },
                            class: 'list-group-item' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div id="context">
        <div class="row auction-index-title">
          <% if params[:category_id] %>
              <h1><%= Category.find(params[:category_id]).name.pluralize(1) %> Products</h1>
          <% else %>
              <h1>All Products</h1>
          <% end %>
        </div>


        <div class="row">
          <% @products.each do |product| %>
              <div class="col-sm-4">
                <div id="index" class="thumbnail auction-index-card">
                  <div class="auction-card-picture">
                    <%=link_to image_tag(product.image_url),
                               seller_product_path(@seller.slug, product.id),
                               class: 'img-responsive' %>
                  </div>
                  <div class="caption">
                    <h4><%= link_to product.name, seller_product_path(@seller.slug, product.id) %>
                    </h4>
                    <h6><%= link_to "Edit", edit_seller_product_path(@seller.slug, product.id) %></h6>
                    <p><%= truncate(product.description, length: 80) %></p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="row text-center">
    <div class="col-lg-12">
      <ul class="pagination">
        <li>
          <%= will_paginate @products %>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
<script>

    $(document).ready( function () {
        $('a.list-group-item').addClass("auction-nav").addClass("ui sticky");
        $('.ui.sticky')
                .sticky({
                    context: '#context',
                    pushing: true
                })
    });

</script>
