<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-3 pic-col"><br>
      <div class="auction-show-picture">
        <%= image_tag @product.image_url, class: "img-responsive" %>
      </div>
    </div>
    <div class="col-md-3"><br>
      <div class="well auction-info">
        <div class="caption-full">
          <h4><a href="#"><%= @product.name %></a>
          </h4>
          <p><%= @product.description %></p><br>
          <p>Condition: <%= @product.condition %></p>
          <p>Category: <%= Category.find(@product.category_id).name %></p>
          <p>Seller: <%= Seller.find(@product.seller_id).name %></p><br>
        </div>
        <%= link_to "Create Auction",
                    new_seller_auction_path(params[:seller],
                                            product_id: @product.id,
                                            category_id: @product.category.id),
                    class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>