
<body>

<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
    <h1>Our Awesome Sellers</h1>
    <p>Whether it is a new-in-box copy of the N64 classic video game Goldeneye or a perfectly restored 1957 Bugatti Type 252, our world renowned sellers will be able to fill your collection to your hearts content all with top notch customer service.</p>
    </p>
  </header>

  <hr>

  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Sellers</h3>
    </div>
  </div>
  <!-- /.row -->

  <!-- Page Features -->
  <div class="row text-center">

    <% @sellers.each do |seller| %>

        <div class="col-sm-4">
          <div id="index" class="thumbnail auction-index-card seller">
            <div class="auction-card-picture seller">
              <%= image_tag seller.image_url %>
            </div>
            <div class="caption">
              <h5><%= seller.name %></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>
                <%= link_to "View Auctions", seller_path(seller), class: "btn btn-primary" %>
                <% if platform_admin? %>
                    <%= link_to "Delete Seller", platform_admin_seller_path(seller.id),
                                method: :delete,
                                class: "btn btn-primary"%>
                    <%= link_to "View Products", seller_products_path(seller.slug),
                                class: "btn btn-primary"%>
                <% end %>
              </p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <!-- /.row -->

  <hr>


</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>