<h1 id="feed-title">My Active Bids</h1>

<div class="row feed-row">
  <% if @auctions.count == 0%>
          <h2 id="no-results">No bids on active auctions</h2>
      <% else %>
  <% @auctions.each do |auction| %>
      <div class="col-sm-4">
        <% if auction.bids.last.user.full_name == current_user.full_name %>
            <div class="thumbnail auction-index-card feed-card">
              <%= image_tag auction.product.image_url, class: "img-responsive auction-jumbo-picture" %>
              <div class="caption">
                <h5><%= link_to auction.product.name, auction_path(auction.id) %>
                </h5>
                <p>You are the current High Bidder!</p>
                <p><span class="text-muted">Your Current High Bid: </span><%= number_to_currency(auction.bids.last.amount) %></p>
                <p><span class="text-muted">Time Remaining: </span><%= distance_of_time_in_words(Time.now, auction.ending_time) %></p>
              </div>
            </div>
        <% else %>
            <div class="thumbnail auction-index-card feed-card losing">
              <%= image_tag auction.product.image_url, class: "img-responsive auction-jumbo-picture" %>
              <div class="caption">
                <h5><%= link_to auction.product.name, auction_path(auction.id) %>
                </h5>
                <p><span class="text-muted">Current High Bidder: </span><%= auction.bids.last.user.full_name %></p>
                <p><span class="text-muted">Current Bid: </span><%= number_to_currency(auction.bids.last.amount) %></p>
                <p><span class="text-muted">Time Remaining: </span><%= distance_of_time_in_words(Time.now, auction.ending_time) %></p>
                <%= form_for @bid do |f| %>
                    <div><%= hidden_field_tag :auction_id, auction.id %></div>
                    <div><%= hidden_field_tag :user_id, current_user.id %></div>
                    <%= f.label :amount %>
                    <%= f.text_field :amount%>
                    <%= f.submit class: "btn btn-success btn-sm" %>
                <% end %>
              </div>
            </div>
            <% end %>
      </div>
      <% end %>
  <% end %>
</div>
