<div class="container">
  <h1 class="text-center">Your Dashboard</h1>
  <div class="well col-sm-12">
    <div class="col-sm-4">
      <h3><%= current_user.full_name %></h3>
      <p><%= current_user.email %></p>
      <%= link_to "Edit Account",
          profile_edit_path,
          class: "btn btn-success" %>
    </div>
    <div id="billing-address" class="col-sm-4">
      <% current_user.addresses.billing.each do |billing| %>
        <h4><strong>Billing Address</strong></h4>
        <address>
        <br><%= billing.address_1 %>
        <% if billing.address_2.length > 0 %>
        <br><%= billing.address_2 %>
        <br><%= billing.city %>, <%= billing.state %>, <%= billing.zip_code %>
        <% else %>
        <br><%= billing.city %>, <%= billing.state %>, <%= billing.zip_code %>
              <% end %>
        </address>
      <% end %>
    </div>
    <div id="shipping-address" class="col-sm-4">
      <% current_user.addresses.shipping.each do |shipping| %>
          <h4><strong>Shipping Address</strong></h4>
          <address>
            <br><%= shipping.address_1 %>
            <% if shipping.address_2.length > 0 %>
                <br><%= shipping.address_2 %>
                <br><%= shipping.city %>, <%= shipping.state %>, <%= shipping.zip_code %>
            <% else %>
                <br><%= shipping.city %>, <%= shipping.state %>, <%= shipping.zip_code %>
            <% end %>
          </address>
      <% end %>
    </div>
  </div>
  <div class="well col-sm-12">
    <h3 class="text-center">Won Auctions</h3>
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
        <% if @auctions.count == 0 %>
            <tr>
              <td>No won auctions...yet.</td>
              <td class="order-details-link">
                <a href="<%= auctions_path %>">
                  <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
                  </span>
                  View Auctions
                </a>
              </td>
            </tr>
          <% else %>
            <thead>
            <tr>
              <th>Auction Number</th>
              <th>Product Name</th>
              <th>Ending Date</th>
              <th>Winning Bid</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
          <% @auctions.each do |auction| %>
            <tr>
              <td># <%= auction.id %></td>
              <td><%= auction.product.name %></td>
              <td><%= auction.ending_time.strftime("%B %e, %Y at %l:%M %p") %></td>
              <td><%= number_to_currency(auction.winning_bid_amount) %></td>
              <td class="order-details-link">
                <a href="<%= auction_path(auction) %>">
                  <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
                  </span>
                  View Auction Details
                </a>
              </td>
            </tr>
          <% end %>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
