<div class="container">
  <h1 class="text-center"></h1>
  <p class="lead text-center">Create Seller Admin</p>
  <div class="well col-sm-6 col-sm-offset-3">
    <%= form_for @user, url: {action: "create"} do |f| %>
        <div class="form-group">
          <%= f.label :first_name, "First Name" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, "Last Name" %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :seller_id %>
          <%= f.collection_select :seller_id, Seller.all,
                                  :id, :name, {},
                                  { class: "form-control", include_blank: "None" } %>
        </div>
        <div class="form-group">
          <%= f.label :password, "Password (min 8 characters)" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <%= f.submit "Create Seller Admin", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
