<div class="container">
  <br>
  <h3 class="text-center">Seller Dashboard</h3>
  <br>
  <div syle="display: inline-block">
    <div class="container-fluid">
      <ul class="nav nav-pills">

        <li>
          <a href="<%= edit_seller_seller_path(current_seller.slug, current_seller.id) %>">
            Edit Business Details <span class="glyphicon glyphicon-edit" aria-hidden="true">
          </a>
        </li>

        <li>
          <a href="<%= seller_auctions_path(current_seller.slug) %>">
            View All Auctions <span class="glyphicon glyphicon-tags" aria-hidden="true">
          </a>
        </li>

        <li>
          <a href="<%= new_seller_auction_path(current_seller.slug) %>">
            Create New Auction <span class="glyphicon glyphicon-plus" aria-hidden="true">
          </a>
        </li>

        <li>
          <a href="<%= seller_products_path(current_seller.slug) %>">
            View All Products <span class="glyphicon glyphicon-folder-open" aria-hidden="true">
          </a>
        </li>

        <li>
          <a href="<%= new_seller_product_path(current_seller.slug) %>">
            Create New Product <span class="glyphicon glyphicon-plus" aria-hidden="true">
          </a>
        </li>

      </ul>
    </div>
  </div>
  <br>
  <br>


  <% if @auctions.empty? %>
    <p class="text-center text-muted">You haven't created any auctions. Go and create one! :)</p>
  <% else %>
    <table class="table table-striped">
      <tr>
        <th>Auction ID</th>
        <th>Product</th>
        <th>Starting Date/Time</th>
        <th>Ending Date/Time</th>
        <th>Highest Bidder/Winner</th>
      </tr>
      <% @auctions.each do |auction| %>
        <tr>
          <td><%= link_to auction.id, auction_path(auction.id) %></td>
          <td><%= auction.product.name %></td>
          <td><%= auction.starting_time %></td>
          <td><%= auction.ending_time %></td>
          <td><%= auction.winner %></td>
        </tr>
      <% end %>
    <% end %>

    </table>

</div>
