<div class="container">
  <h3 class="text-center">Platform Admin Dashboard</h3>
  <div class="row">
    <div class="col-sm-6 ">
      <a class="btn btn-block btn-primary"
         href="<%= platform_admin_users_path %>">
        View All Users <span class="glyphicon glyphicon-edit" aria-hidden="true">
      </a>
    </div>
    <div class="col-sm-6 ">
      <a class="btn btn-block btn-primary" href="<%= auctions_path %>">
        View All Auctions <span class="glyphicon glyphicon-tags" aria-hidden="true">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 ">

    </div>
    <div class="col-sm-6 ">
      <a class="btn btn-block btn-primary" href="<%= products_path %>">
        View All Products <span class="glyphicon glyphicon-folder-open" aria-hidden="true">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 ">

    </div>
    <div class="col-sm-6 ">
      <a class="btn btn-block btn-primary" href="<%= new_platform_admin_seller_path %>">
        Create A Seller <span class="glyphicon glyphicon-folder-open" aria-hidden="true">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 ">

    </div>
    <div class="col-sm-6 ">
      <a class="btn btn-block btn-primary" href="<%= new_platform_admin_user_path %>">
        Create Seller Admin <span class="glyphicon glyphicon-folder-open" aria-hidden="true">
      </a>
    </div>
  </div>
</div>
