<div class="container">
  <h3 class="text-center">Platform Admin Dashboard</h3>

  <br>

  <div class="container-fluid">
    <ul class="nav nav-pills">

      <li>
        <a href="<%= platform_admin_users_path %>">
          View All Users <span class="glyphicon glyphicon-user" aria-hidden="true">
        </a>
      </li>

      <li>
        <a href="<%= products_path %>">
          View All Products <span class="glyphicon glyphicon-folder-open" aria-hidden="true">
        </a>
      </li>

      <li>
        <a href="<%= auctions_path %>">
          View All Auctions <span class="glyphicon glyphicon-tags" aria-hidden="true">
        </a>
      </li>

      <li>
        <a href="<%= sellers_path %>">
          View All Sellers <span class="glyphicon glyphicon-tags" aria-hidden="true">
        </a>
      </li>

      <li>
        <a href="<%= new_platform_admin_seller_path %>">
          Create A Seller <span class="glyphicon glyphicon-plus" aria-hidden="true">
        </a>
      </li>

      <li>
        <a href="<%= new_platform_admin_user_path %>">
          Create Seller Admin <span class="glyphicon glyphicon-plus" aria-hidden="true">
        </a>
      </li>

    </ul>
  </div>

  <% if @sellers.empty? %>
    <p class="text-center text-muted">There are no sellers..... yet. :)</p>
  <% else %>
    <table class="table table-striped">
      <tr>
        <th>Seller ID</th>
        <th>Name</th>
        <th># of Products</th>
        <th># of Auctions</th>
        <th>Created at</th>
      </tr>
      <% @sellers.each do |seller| %>
        <tr>
          <td><%= seller.id %></td>
          <td><%= link_to seller.name, seller_products_path(seller.slug)  %></td>
          <td><%= seller.products.count %></td>
          <td><%= seller.auctions.count %></td>
          <td><%= seller.created_at %></td>
        </tr>
      <% end %>
    <% end %>

    </table>

</div>
