<!-- Page Content -->
<div class="container">
  <ol class="breadcrumb">
    <li><a href="<%= seller_dashboard_path(@seller.slug) %>">Admin Dashboard</a></li>
    <li class="active">All Auctions</li>
    <li><a href="<%= new_seller_auction_path(@seller.slug) %>">Add New Auction</a></li>
  </ol>
</div>

<div class="container">

  <div class="row">

    <div class="col-md-3"><br>
      <div class="ui rail">
        <div class="ui sticky">
          <div class="list-group">
            <%= link_to "View All", {controller: 'auctions', action: 'index'},
                        class: 'list-group-item'  %>
            <% @categories.each do |category| %>
                <%= link_to category.name,
                            {controller: 'auctions', action: 'index', :category_id => category.id },
                            class: 'list-group-item' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div id="context">
        <div class="row auction-index-title">
          <% if params[:category_id] %>
              <h1><%= Category.find(params[:category_id]).name.pluralize(1) %> Auctions</h1>
          <% else %>
              <h1>All Auctions</h1>
          <% end %>
        </div>


        <div class="row">
          <% @auctions.each do |auction| %>
              <div class="col-sm-4">
                <div id="index" class="thumbnail auction-index-card">
                  <div class="auction-card-picture">
                    <%= image_tag auction.product.image_url %>
                  </div>
                  <div class="caption">
                    <h5><%= link_to auction.product.name, auction_path(auction.id) %>
                    </h5>
                    <p>Starting Price: <span class="bold"><%= number_to_currency(auction.starting_price) %></span></p>
                    <% if auction.bids.count == 0 %>
                        <p><span class="bold">No bids yet</span></p>
                    <% else %>
                        <h5>Current Bid: <span class="bold green"><%= number_to_currency(auction.bids.last.amount) %></span></h5>
                    <% end %>
                    <h5>Time Remaining: <span class="bold red"><%= distance_of_time_in_words(Time.now, auction.ending_time) %></span></h5>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>

    </div>

    <!--Pagination-->
    <div class="row text-center">
      <div class="col-lg-12">
        <ul class="pagination">
          <li>
            <%= will_paginate @auctions %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>

    $(document).ready( function () {
        $('a.list-group-item').addClass("auction-nav").addClass("ui sticky");
        $('.ui.sticky')
                .sticky({
                    context: '#context',
                    pushing: true
                })
    });

</script>
